body {
    font-family: 'Semplicita-Pro-Regular';
}

@font-face {
    font-family: 'Semplicita-Pro-Regular';
    src: url('../fonts/Semplicita-Pro-Regular.ttf');
}

h1 {
    font-weight: 500;
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-weight: 700;
    color: black;
}

.bg-home {
    background: url('../photos/background5.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100%;
    background-position: center center;
    margin-top: 0;
}

.bg-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-main-center {
    display: table-cell;
    vertical-align: middle;
}

#company-caption {
    font-size: 20px;
    line-height: 1.8,
    max-width: 400px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

#content {
   text-align: center;
   padding: 15%;
   color: white;
}

.section {
    padding-bottom: 70px;
    padding-top: 70px;
    position: relative;
}

.padding {
    padding-bottom: 70px;
    padding-top: 70px;
}

#home {
    z-index: -100
}

#services {
    -webkit-box-shadow: 0px -2px 118px 26px rgba(26,26,26,1);
    -moz-box-shadow: 0px -2px 118px 26px rgba(26,26,26,1);
    box-shadow: 0px -2px 118px 26px rgba(26,26,26,1);
}

#pricing {
    background: url('../photos/background3.jpg') no-repeat center fixed;
    background-size: cover;
    min-height: 150%;
    background-position: center center;
    margin-top: 0;
    color: white; 
    
}

#pricing-bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100%;   
}

#pricing-header {
    color: white;
}

#features {
    z-index: 1000;
}

#team {
  
}

.carousel {
    z-index: 1000;
    height: 400px;
}

.img-fluid {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.separator {
    border: 0;
    height: 1.2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.separator-dark {
    border: 0;
    height: 1.2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.separator-left {
    border: 0;
    height: 1px;
    width: 75px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.separator-right {
    border: 0;
    height: 1px;
    width: 75px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 75), rgba(0, 0, 0, 0));    
}

.separator-right-white {
    border: 0;
    height: 1px;
    width: 75px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 75), rgba(255, 255, 255, 0));
}

.separator-left-white {
    border: 0;
    height: 1px;
    width: 75px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.separator-div {
    width: 200px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator-icon {
    font-size: 15px;
    color: black;
}

.separator-icon-white {
    font-size: 15px;
    color: white;
}

#circle-div {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#circle-div p {
 color: white;
}

#scroll-circle {
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 50;
}

#scroll-circle:hover {
    cursor: pointer;
    opacity: 0.5;
}

#chevron-down {
    color: white;
    font-size: 25px;
}

.window-size {
    min-height: 100%;
}

.section-heading {
    border: 2px solid red;
    color: black;
}

.header-div {
    color: black;
    text-align: center;
}

.header-bold {
    font-weight: 700;
}

.main-content {
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.grid-box {
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.about-grid-box {
    border: 1px solid red;
    height: 60%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-caption {
    text-align: center;
    font-weight: 800;
}

.service-box {
    border: 1px solid gray;
    float: none;
    height: 90%;
    width: 98%;
    -webkit-box-shadow: 11px 9px 18px -12px rgba(26,26,26,0.73);
    -moz-box-shadow: 11px 9px 18px -12px rgba(26,26,26,0.73);
    box-shadow: 11px 9px 18px -12px rgba(26,26,26,0.73);
}

.service-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon {
    width: 60px;
    height: 60px;
}

.team-grid-box {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-box {
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: gray;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

#team1 {
    background-image: url("../photos/team/portrait1.jpg");
}

#team2 {
    background-image: url("../photos/team/portrait2.jpg");
}

#team3 {
    background-image: url("../photos/team/portrait3.jpg");
}

#team4 {
    background-image: url("../photos/team/portrait4.jpg");
}

#team5 {
    background-image: url("../photos/team/portrait5.jpg");
}

#team6 {
    background-image: url("../photos/team/portrait6.jpg");
}


.team-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 800;
}

.team-role {
    color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 800;
    font-size: 20px !important;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
     -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.7;
    cursor: pointer;
}

.social-media-icon:hover {
    opacity: 1
}

.arrow-button {
    width: 40px;
    height: 65px;
    background: black;
    border-width: 0.5px;
    border-color: white;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.2;
    cursor: pointer;
    z-index: 2000;
}

.arrow-button:hover {
    opacity: 0.6
}

.arrow-prev {
    position: absolute;
    top: 52%;
    bottom: 48%;
}
.arrow-next {
    position: absolute;
    top: 52%;
    bottom: 48%;
}

.chevron {
    color: white;
    font-size: 20px;
}



.price-grid-box-large {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 95%;
}

.price-grid-box-small {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 90%;
}

#left-price-box {
    
}

#middle-price-box {
    z-index: 1000;
}

.package-name {
    color: white !important;
    font-weight: 700;
    text-align: center;
    font-size: 1.9em;
    
}

#right-price-box {
  
}

.price-box {
    float: none;
    min-height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(51,51,51,1);
    box-shadow: 0px 0px 16px 1px rgba(20,20,20,1); 
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../photos/sprinkles.png') repeat;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.price-circle {
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

#gold {
    background: rgba(212, 175, 55, 0.6);
}

#bronze {
    background: rgba(205, 127, 50, 0.6);
}

#silver {
    background: rgba(192, 192, 192, 0.6);
}

.price {
    font-weight: 800;
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

.price-row {
    text-align: center;
    font-size: 1.2em;
}

.price-button-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5%;
}

.price-button {
    border: 1px white solid;
    width: 300px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 50;
}

.price-button:hover {
    cursor: pointer;
    opacity: 0.5
}
