#top-nav {
    background: transparent;
    border-width: 0;
    box-shadow: none;
    transition: all .5s ease;
    min-height: 65px;
    z-index: 1030;
}

#top-nav.solid {
  background-color: white;
  transition: all .5s ease;
  box-shadow: 0 0 4px grey;
}


#navigation {
    height: 65px;
    backface-visibility: hidden;
    z-index: 1000;
}

.logo {
    float: left;
    line-height: 65px;
    transition: all .3s ease;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    text-decoration: none !important;
}

.logo.colored-logo {
    color: black;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navigation-menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu > li {
    float: left;
    display: block;
    position: relative;
    margin: 0 5px;
}

.navigation-menu > li > a {
    display: block;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all .3s ease;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px; 
    text-decoration: none !important;
}

.navigation-menu > li > a.colored-link {
    color: black;
    transition: all .3s ease;
}

.navigation-menu > li > a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.navigation-menu > li .submenu li a li {
    margin-right: 10px;
    font-size: 14px;
}

.menu-extras { 
    float: right;
}

.has-submenu {
    position: relative;
}

.navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 28px auto;
    height: 15px;
}

.navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 5px;
    transition: transform .5s ease;
}

.navbar-toggle span:last-child {
    margin-bottom: 0;
}

.navbar-toggle.open span {
    position: absolute;
}

.navbar-toggle.open span:first-child {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}

.navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    transform: rotate(-45deg);
}

#logo-icon {
    width: 40px;
    height: 40px;
    color: white;
}

.link-highlight {
    color: green !important;
    transition: transform .5s ease;
}