body {
    font-family: 'Semplicita-Pro-Regular';
}

@font-face {
    font-family: 'Semplicita-Pro-Regular';
    src: url('./fonts/Semplicita-Pro-Regular.ttf');
}

h1 {
    font-weight: 500;
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: 0;
}

.bg-home {
    background: url('./photos/background.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center center;
    margin-top: 0;
}

.bg-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-main-center {
    display: table-cell;
    vertical-align: middle;
}

#company-caption {
    font-size: 20px;
    line-height: 1.8,
    max-width: 400px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

#content {
   text-align: center;
   padding: 15%;
   color: white;
}

.section {
    padding-bottom: 70px;
    border: 2px solid green;
    padding-top: 70px;
    position: relative;
}

.separator {
    border: 0;
    height: 1.2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.separator-left {
    border: 0;
    height: 1px;
    width: 75px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.separator-right {
    border: 0;
    height: 1px;
    width: 75px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 75), rgba(0, 0, 0, 0));    
}

.separator-div {
    width: 200px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator-icon {
    font-size: 15px;
    color: black;
}

#scroll-circle {
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}

.window-size {
    min-height: 100%;
}

.section-heading {
    border: 2px solid red;
    color: black;
}

.header-div {
    color: black;
    text-align: center;
}

.header-bold {
    font-weight: 700;
}

#service-grid {
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.grid-box {
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.service-box {
    border: 1px solid gray;
    border-radius: 3px;
    float: none;
    height: 90%;
    width: 98%;
}

